.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--displaycolor);
    margin: 70px auto;
    max-width: 500px;
    flex-direction: column;
    border-radius: 8px;
    padding: 40px 20px;
}


.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.authTop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.loginText,
.goToRegisterText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.openBracket {
    font-size: 30px;
    height: 60px;
    width: 60px;
    background-color: var(--aqua);
    border-radius: 50px;
    padding: 15px;

}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    gap: 5px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--aqua);
    color: var(--displaycolor);
    border-radius: 6px;
    cursor: pointer;
}

.authFields {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25vw;
}

.authInput {
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
}

.registerText {
    margin: 40px;
}

.registerText span,
.toggleForm span {
    font-weight: bold;
    color: var(--aqua);
}

.toggleForm {
    margin: 30px;
}

.goToRegister,
.goToLogin {
    cursor: pointer;
}

.error {
    color: var(--errorText);
}

@media (max-width:695px) {

    .authContainer {
        margin: 40px 30px;
        padding: 50px
    }

    .authFields,
    .loginBtn,
    .loginText p {
        width: 90%;
    }

}