.hero {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 30px;
}

.favouriteCities {
    background-color: rgb(219, 231, 234);
    height: 60vh;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.showCities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35vw;
    background-color: aliceblue;
    width: 60vw;
    height: 80px;
    padding: 30px;
    border-radius: 10px;
}

.buttonsForCities {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.buttonsForCities button {
    height: 35px;
    border-radius: 10px;
    width: 65px;
}

.errorMessage {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}