

.hero {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 30px;
}

.favouriteCities {
    background-color: var(--homebg);
    height: 60vh;
    align-self: center;
    display: flex;
    /* justify-content: center; tries to 
    center the list of cities and breaks the layout*/ 
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.showCities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35vw;
    background-color: var(--displaycolor);
    width: 60vw;
    height: 80px;
    padding: 30px;
    border-radius: 10px;
}

.buttonsForCities {
    display: flex;
    gap: 50px;
    font-weight: bold;
}

.buttonsForCities button {
    height: 35px;
    border-radius: 10px;
    width: 65px;
}

.errorMessage {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width:695px) {

    .favouriteCities {
        gap: 20px;
        height: 50vh;
    }

    .showCities {
        gap: 10vw;
        width: 80vw;
    }

    .buttonsForCities {
        gap: 10px;
    }

}