<div class="leftHeader">
    <img src="Resources\logo.webp" alt="Logo of Cloud" style="width: 85px; height: 85px;">
    <a href="index.html"><h1>Weather App</h1></a>
</div>

<div class="midHeader">
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="favourite.html">Favourites</a></li>
        </ul>
    </nav>
</div>


<div class="rightHeader">
    <button class="dark_mode"><i class="fa-solid fa-moon "></i></button>
    <a href="form.html"><i class="fa-solid fa-user profile"></i></a>
    <button class="menu_icon">☰</button>
</div>