        <div class="leftHeader">
            <img src="/logo.webp" alt="Logo of Cloud" style="width: 85px; height: 85px;">
            <h1>Weather App</h1>
        </div>

        <div class="midHeader">
            <nav>
                <ul>
                    <li>About</li>
                    <li>Home</li>
                    <li>Favourites</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>


        <div class="rightHeader">
            <button class="dark_mode"><i class="fa-solid fa-moon "></i></button>
            <i class="fa-solid fa-user profile"></i>
            <button class="menu_icon">☰</button>
        </div>

